

html { width: 100%; height:100%; overflow:hidden; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: white;
}

.container{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: sans-serif;
}


.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: rgb(1, 1, 51, 0.2);
    padding: 1px;
    border-radius: 10px;
	margin-top: 20px;
	overflow: hidden;

	
}

.button-box{
    width: 240px;
    margin: 70px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e6e6e6;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
	color: black;
}

#elegir{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 120PX;
	height: 100%;
	background: linear-gradient(to right, rgb(45, 221, 45), rgb(1, 109, 1));
	border-radius: 30px;
	transition: 0.8s;
}

.cuadros-loggin{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
}

.input-group{
	top: 150px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
}

.input-group-regitro{
	top: 150px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
	overflow-y: scroll;
	background: transparent;
	height: 300px;
	margin-left:5%;

}

.input-file{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 2px solid #004d40;
	outline: none;
	background: transparent;
	color: black;
	
}

.boton{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	margin: auto;
	background: linear-gradient(to right, rgb(45, 221, 45), rgb(1, 109, 1));
	border: 0px;
	outline: none;
	border-radius: 30px;
	margin-left: 20px;
	color:white;
}

.checkbox{
	margin: 30px 10px 30px 0;
}

span{
	color: #757575;
	font-size: 12px;
	bottom: 64px;
}

#login{
	left: 50px;
}
/*lo tenías en mayúsculas*/
#registrar{
	left: 450px;
}

.pruebas{
	margin-top: 37%;
	margin-left:17%;
	color: white;
}

.logito{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding-top: 100px;
}
