

html { width: 100%; height:100%; overflow:hidden; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.container{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: sans-serif;
}


.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: rgb(1, 1, 51, 0.2);
    padding: 5px;
    border-radius: 10px;
	margin-top: 200px;
	overflow: hidden;

	
}

.button-box{
    width: 240px;
    margin: 70px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e6e6e6;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
	color: white;
}

#elegir{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 120PX;
	height: 100%;
	background: linear-gradient(to right, green, rgb(117, 1, 1));
	border-radius: 30px;
	transition: 0.8s;
}

.cuadros-loggin{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
}

.input-group{
	top: 150px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
}

.input-file{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 2px solid #004d40;
	outline: none;
	background: transparent;
	color: white;
	
}

.boton{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	margin: auto;
	background: linear-gradient(to right, rgb(45, 221, 45), rgb(1, 109, 1));
	border: 0px;
	outline: none;
	border-radius: 30px;
	margin-left: 20px;
	color:white;
}

.checkbox{
	margin: 30px 10px 30px 0;
}

span{
	color: #757575;
	font-size: 12px;
	bottom: 64px;
}

#login{
	left: 50px;
}
/*lo tenías en mayúsculas*/
#registrar{
	left: 450px;
}