<!DOCTYPE html>
<html lang="en">
<link th:href="@{/css/login/Newcss.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logearse</title>
</head>
<body>
    <div class="container">
            <div class="form-box">
                <div class="button-box">
                    <div id="elegir"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Iniciar sesión</button>
                    <button type="button" class="toggle-btn" onclick="registrar()">Registrar</button>
                </div>
                <form id="login" class="input-group" th:action="@{/usuarios/login}" th:object="${usuario}" method="post">
                        <input type="text" id="email" name="email" placeholder="email" class="input-file" required="required" />
                        <input type="password" id="clave" name="clave" placeholder="Contraseña" class="input-file" required="required" />
                        <input type="checkbox" class="checkbox" ><span>Recordar Contraseña</span>
                        <button type="submit" class="boton">Entrar</button>  
                </form>
                <p th:text="${mensaje}" class="pruebas"></p>
                <form id="registrar" class="input-group-regitro" th:action="@{/usuarios/registrarse}" th:object="${registro}" method="post">
                        <input type="text" name="nombre" placeholder="nombre" class="input-file" required="required" />
                        <input type="text" name="apellido1" placeholder="apellido1" class="input-file" required="required" />
                        <input type="text" name="apellido2" placeholder="apellido2" class="input-file" required="required" />
                        <input type="text" name="direccion" placeholder="direccion" class="input-file" required="required" />
                        <input type="text" name="dni" placeholder="dni" class="input-file" required="required" />
                        <input type="hidden" name="idrol" value="3" />
                        <input type="text" name="localidad" placeholder="localidad" class="input-file" required="required" />
                        <input type="text" name="provincia" placeholder="provincia" class="input-file" required="required" />
                        <input type="email" name="email" placeholder="email" class="input-file" required="required" />
                        <input type="text" name="telefono" placeholder="telefono" class="input-file" required="required" />
                        <input type="password" name="clave" pattern=".{8,}" placeholder="Contraseña 8 digitos minimo" class="input-file" required="required" />
                        <input type="checkbox" class="checkbox" required="required"><span>Acepto los terminos y condiciones de uso</span>
                        <button type="submit" class="boton">Registrarse</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        var x= document.getElementById("login");
        var y= document.getElementById("registrar");
        var z= document.getElementById("elegir");

        function login(){
            x.style.left= "50px";
            y.style.left= "450px";
            z.style.left= "0px";
        }
        function registrar(){
            x.style.left= "-400px";
            y.style.left= "50px";
            z.style.left= "120px";
        }
    </script>
    
</body>
</html>