<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
    
    
    <!--
    *** COPYRIGHT ***
    -->
    <footer th:fragment="pie">
	    <div id="copyright">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-6 mb-2 mb-lg-0">
	            <p class="text-center text-lg-left">2021 Derechos reservados.</p>
	        </div>
	      </div>
	    </div>
    </footer>
</body>
</html>